<div class="container mt-4" *ngIf="user">
    <div class ="row">
        <div class="col-md-6 col-xs-12 mb-3">
            <h3>New Games</h3>
            <ul class="list-group">
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" 
                    *ngFor="let game of allGames?.newGames" 
                    routerLink='/game' 
                    [queryParams]="{ gameName: game.name }" 
                    [class.bg-warning]="game.status == 'archived'"
                    [ngClass]="{'pointer-none': game.status == 'archived'}">
                        <div>
                            {{ game.name }}
                        </div>
                        <div *ngIf="game.status == 'archived'">
                            <b>Archived</b>
                        </div>
                        <span class="badge badge-primary badge-pill">{{ game.gameTypeName.toUpperCase() }}</span></a>
            </ul>
        </div>
        <div class="col-md-6 col-sm-12">
            <h3>Past Games</h3>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center" 
                    *ngFor="let game of allGames?.playedGames" 
                    [class.bg-warning]="game.status == 'archived'"
                    [ngClass]="{'pointer-none': game.status == 'archived'}">
                    <div>
                        {{ game.name }} 
                    </div>
                    <div>
                        score: {{ game.scores[0].total }}
                    </div>
                    <span class="badge badge-primary badge-pill">{{ game.gameTypeName.toUpperCase() }}</span></li>            
            </ul>
        </div>
    </div>
</div>
