<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand pt-0" href="#"><i class="fa fa-puzzle-piece" style="font-size: 200%; color: grey;"></i> {{title}}</a>
    <button class="navbar-toggler" appShow appExpanded type="button" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse show-me">
      <ul class="navbar-nav mr-auto pt-2">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin" [routerLinkActiveOptions]="{exact: true}">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Profile</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" appShow appExpanded style="cursor: pointer;" id="games" aria-haspopup="true" >Games</a>
          <div class="dropdown-menu show-me" aria-labelledby="games" >
            <a class="dropdown-item" href="#">Hangman</a>
            <a class="dropdown-item" href="#">Another Game</a>
          </div>
        </li>
      </ul>
      <form class="form-inline row my-2 my-lg-0 mr-2 ml-2" [formGroup]="loginForm">
        <ng-container *ngIf="(this.accountService.currentUser$ | async) === null">
          <label class="sr-only" for="username">Username</label>
          <input class="form-control mr-sm-2 col-5" type="text" formControlName="username" placeholder="username">
          <label class="sr-only" for="password">Password</label>
          <input class="form-control mr-sm-2 col-5" type="password" formControlName="password" placeholder="password">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" (click)="login()">Login</button>
        </ng-container>
        <button *ngIf="(this.accountService.currentUser$ | async) != null" class="btn btn-outline-primary" style="margin-left: -10px;" type="submit" (click)="logout()">Logout</button>
      </form>
    </div>
  </nav>

  <!--<span class="sr-only">(current)</span>-->

