input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.word__container {
    min-height: 200px;
}

.word__container > div {
    height: 25px;
}

.word-search__container {
    background-color: #e6f1fb;
}

.icon__link {
    cursor: pointer;
}

.letter__input {
    height: 3rem; 
    width: 3rem;
}

.highlight {
    background-color: lightyellow;
}

.word--invalid {
    color: red;
}

.word__input-label {
    width: 10%;
}

.word__input {
    width: 75%;
}

@media only screen and (max-width: 480px) {
    .word-search__input {
        padding: 0;
    }

    .ws-input__container {
        padding: 0;
    }

    .word__input-label {
        width: 15%;
    }

    .word__input {
        width: 80%;
    }

    .btn--save-word {
        width: 100%;
    }
}

