<h3>Add Game</h3>
<div class="container mt-5">
    <div class="row">
        <form name="newGameForm" #newGameForm="ngForm" (ngSubmit)="addGame()" style="width: 800px;">
            <div class="form-group row">
                <label for="gameTypeId" class="col-sm-2 col-form-label">Game Type</label>
                <div class="col-sm-10">
                <select 
                    *ngFor="let type of gameTypes" 
                    #gameTypeSelect 
                    class="form-control" 
                    name="gameTypeId" 
                    ngModel 
                    [ngModel]="defaultGameTypeId" 
                    (change)="setGameTypeId()"
                    [attr.data-name]="type.name">
                        <option [value]="type.id">{{ type.name }}</option>
                </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="name" ngModel #name="ngModel" required/>
                    <span class="text-danger" *ngIf="name.invalid && name.touched">Name is required</span>
                </div>
            </div>
            <div class="form-group row" *ngIf="gameTypeId === 1">
                <label for="answer" class="col-sm-2 col-form-label">Answer</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="answer" ngModel #answer="ngModel" required/>
                    <span class="text-danger" *ngIf="answer.invalid && answer.touched">Answer is required</span>
                </div>
            </div>
            <button [disabled]="newGameForm.invalid" class="btn btn-success mr-2" type="submit">Submit</button>
        </form><br><br>
    </div>
</div>


