<h3>Add Game</h3>
<div class="container mt-5">
    <div class="row">
        <form name="newGameForm" #newGameForm="ngForm" (ngSubmit)="addGame()" style="width: 800px;">
            <div class="form-group row">
                <label for="gameTypeId" class="col-sm-2 col-form-label">Game Type</label>
                <div class="col-sm-10">
                <select 
                    #gameTypeSelect 
                    class="form-control border-0 shadow" 
                    name="gameTypeId"
                    id="gameTypeId" 
                    ngModel 
                    [ngModel]="defaultGameTypeId" 
                    (change)="setGameTypeId()">
                        <option *ngFor="let type of gameTypes" [value]="type.id" [attr.data-name]="type.name">{{ type.name }}</option>
                </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input class="form-control border-0 shadow" type="text" name="name" id="name" ngModel #name="ngModel" required/>
                    <span class="text-danger" *ngIf="name.invalid && name.touched">Name is required</span>
                </div>
            </div>
            <div class="form-group row" *ngIf="gameTypeId === 1">
                <label for="answer" class="col-sm-2 col-form-label">Answer</label>
                <div class="col-sm-10">
                    <input class="form-control border-0 shadow" type="text" name="answer" id="answer" ngModel #answer="ngModel" required/>
                    <span class="text-danger" *ngIf="answer.invalid && answer.touched">Answer is required</span>
                </div>
            </div>
            <div class="container-fluid p-4 mt-4 mb-4 word-search__container rounded shadow" *ngIf="gameTypeId === 2">
                <div class="form-group row">
                    <div class="col-md-10 col-xs-12 d-flex align-items-center p-xs-0 mb-2">
                        <label for="word" class=" form-label mb-0 mr-2 word__input-label">Word</label>
                        <div class="word__input pl-0">
                            <input class="form-control border-0" type="text" name="word" id="word" [(ngModel)]="newWord" (keyup.enter)="saveWord()" />
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-12 d-flex align-items-center ml-auto">
                        <button class="btn btn-sm btn-primary btn--save-word" type="button" (click)="saveWord()" [disabled]="wordSearchLocked">Save Word</button>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row border border-primary rounded word__container mb-4 bg-white">
                            <div class="col-sm-6 col-lg-3" [ngClass]="{'word--invalid': !searchWord.found}" *ngFor="let searchWord of wordSearchWords; let i = index">{{ searchWord.word }} <a class="icon__link" (click)="deleteWord(i)"><i class="fa fa-trash-o icon--trash" aria-label="delete word"></i></a></div>
                    </div>
                </div>
                <div class="container-fluid d-flex flex-wrap ws-input__container" #grid>
                    <div *ngFor="let square of wordSearchSquares; let i = index;" style="width: 10%;" class="p-1">
                        <input type="text" 
                            [name]="'letter' + i" 
                            class="form-control text-center word-search__input border-0" 
                            [(ngModel)]="wordSearchLetters[i]" 
                            autocomplete="off" 
                            maxlength="1"
                            (keyup.arrowup)="moveSquare(i, 'up')"
                            (keyup.arrowdown)="moveSquare(i, 'down')"
                            (keyup.arrowleft)="moveSquare(i, 'left')"
                            (keyup.arrowright)="moveSquare(i, 'right')"/> 
                    </div>
                </div>
                <div class="container-fluid mt-4">
                    <div class="row align-items-center">
                        <h5 class="mb-0">Press fill button to complete grid and verify puzzle</h5>
                        <div class="d-flex ml-auto align-items-center">
                            <h6 class="text-danger mr-3 mb-0" *ngIf="wordSearchInvalid">You are missing words</h6>
                            <button class="btn btn-primary btn-sm" type="button" (click)="verifyGrid()" [disabled]="wordSearchLocked || wordSearchWords.length === 0">Fill Grid</button>
                        </div>
                    </div>
                </div>
            </div>
            <button [disabled]="newGameForm.invalid || (!wordSearchLocked && gameTypeId === 2)" class="btn btn-success btn-sm mr-2" type="submit">Submit</button>
        </form><br><br>
    </div>
</div>


